@font-face {
    font-family: "enchanted_land-webfont";
    src: url("../font/enchanted_land-webfont.eot"),
    url("../font/enchanted_land-webfont.woff") format("woff"),
    url("../font/enchanted_land-webfont.otf") format("opentype");
}

body{
  background:url("../image/login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  text-align: center;
  font-family: "enchanted_land-webfont";
  font-size: 16px;
}

.blocIdentification{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:700px;
    margin: 0 auto;
    align-items: center;
}

.blocAvatar{
    display: flex;
    width:147px;
    color:white;    
    font-weight:bold;
    font-size:2rem;
    text-shadow:1px 1px 2px black;
    position:relative;
    margin-top:20px;
    flex-direction: row;
    border-radius:5px;
}

.blocAvatar span{
    position:absolute;
    bottom: 33px;
    width:100%;
    text-align:center;
    background-color:#0d0d0d80;
}

.blocAvatar input[type=radio]{
    display: none;
}

.blocAvatar:hover img /* Apparence au survol des liens */
{
/*    border-style: solid;
    border-width: 10px;
    border-color: whitesmoke;
    border-radius: 30px;*/
    /*box-shadow: 9px 10px 7px -3px rgb(0,0,0); */
    transform:scale(1.25);
    z-index: 10;
    position: relative;
}

.blocAvatar img {
    transition: all 0.1s linear; 
}

h1{
    color:white;
    font-size: 3rem;
}
.imagetoggle{
    border-radius: 5px;
    box-shadow: 0px 5px 46px 11px rgba(247,0,41,0.88);
    position:relative;
    z-index: 10;
/*    transition:all 0.3s ease-out;*/
}

img{
width: 150px;
height: 200px;
}

.valide{
    cursor:pointer;
    padding:10px;
    color:white;
    background-color:#b70000;
    border:inherit;
    border-radius: 0px 5px 5px 0px;
    transition : all 0.3s ease-out;
    font-family: "enchanted_land-webfont";
    font-size:3.5rem;
    width: 400px;
    margin-top: 10px;
}

.identite{
    height:50px ;
    width: 400px;
    margin-bottom: 30px;
}
.sort{
    position: absolute;
    z-index: -1;
    width: 147px;
}